* {
  margin: 0;
  padding: 0;
  text-align: center;
  font-family: -apple-system, sans-serif;
}
body {
  background-color: gray;
}
header {
  height: 3rem;
  max-width: 30rem;
  margin: auto;
  margin-bottom: 1rem;
  display: flex;
  align-items: center;
  justify-content: left;
}
header #title_image {
  height: 2rem;
  width: 2rem;
  margin: 8px;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
main {
  max-width: 30rem;
  margin: auto;
  overflow: hidden;
}
main.square {
  display: flex;
  justify-content: center;
  align-items: center;
}
main.triangle article {
  height: 6rem;
  display: flex;
}
main.square article {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column-reverse;
}
main article section {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
}
main.triangle article section {
  margin: 6px;
  width: 100%;
  font-size: 1.5rem;
}
main.square article section {
  width: 42px;
  height: 42px;
  font-family: serif;
  font-style: italic;
}
footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  max-width: 30rem;
  margin: auto;
}
footer a {
  text-decoration: none;
  color: white;
}
#controler {
  display: flex;
  padding: 0.5rem;
  background-color: #666;
  margin-top: 1rem;
  margin-bottom: 1rem;
  justify-content: space-around;
  align-items: center;
}
#controler div {
  width: 3rem;
  height: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
  font-size: 2rem;
}
#controler div.multi {
  width: 4rem;
  height: 4rem;
  font-size: 3rem;
}
#controler div:hover {
  opacity: 80%;
}
#indicator {
  margin: auto;
  margin-right: 0;
}
#indicator span {
  margin: 1rem;
  padding: 0.25rem;
  border-radius: 0.5rem;
  /* display: flex;
  justify-content: center;
  align-items: center; */
}
/* #popup {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  display: none;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
} */
#popup div {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  display: none;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
}
